.board {
    width: 850px;
    height: 850px;
    display: flex;
    border:  1px solid;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    border: .25px solid lightgrey;
    margin: 0;
    padding: 0;
}
