* {
    font-family: 'Atma', cursive, sans-serif;
    color: lightgray;
}

body {
    background-color: rgb(21, 26, 39);
    padding: 70px;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
}

.board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.square {
    box-sizing: border-box;
    border: .25px solid lightgrey;
    margin: 0;
    padding: 0;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 58, 87);
    padding: 30px;
    border-radius: 10%;
    gap: 10px;
}

button {
    width: 100px;
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: lightgray;
    color: rgb(46, 58, 87);
    transition: .15s;
    transform: scale(1.15);
}

#size {
    font-size: 20px;
}